QWidget {
    background-color: #212121;
    color: #ffffff;
}

QPushButton {
    background-color: #0e6675;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
    border-color: #0a3036;
}

QPushButton:hover {
    background-color: #5a5a5a;
}

QLabel {
    color: #ffffff;
}

QLineEdit {
    background-color: #343638;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
    border-color: #565b5e;
}
